{% extends "layout.html" %}

{% block content %}

    <div class="hero-unit">
        <h2>{{ course.cid }} - {{ course.cname }}</h2>
        <br />
        <p>{{ course.cdesc }}</p>
        <br />

        <a href="#submitReview" role="button" class="btn" data-toggle="modal">Submit a Review</a>

        <div id="submitReview" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="modalLabel">Submitting a Review for {{ course.cname }}</h3>
            </div>

            <div class="modal-body">
            <form id="review">
				<fieldset>
					<div>
					    <p>Rating</p>
                        <select id="score">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
					</div>
					<div>
						<label class="control-label" for="description">Description</label>
						<textarea class="input-xlarge" data-jsonify-name="rdesc" id="description" rows="7"></textarea>
					</div>
                    <button type="submit" class="btn">Submit</button>
				</fieldset>
			</form>
            </div>
            <div class="modal-footer">            	
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

    </div>

	<!--div class="hero-unit">
    	<h2>Reviews:</h2>
		<div id="results">
		</div>
	</div>
       
	<script>

		/*$(window).load(function() {
			$.getJSON($SCRIPT_ROOT + "{{ url_for('reviews.query_by_course') }}",
			{
				key: "{{ course.cid }}"
			},
			function(data)
			{				
			    var content = '';
				var nil = null;
			    content += '<table class="table table-bordered"><thead><tr><th>User</th><th>Score</th><th>Review</th><th>Like</th><th>Dislike</th></tr></thead><tbody>'; 

				$.each(data.reviews, function(i, item)
				{
					content += '<tr><td>N/A</td><td>'+ item.rscr + '</td><td>' + item.rdesc + '</td><td id="numup' + i + '">' + item.upvote; 
					
					content +=  '<button class="btn btn-success btn-mini" onclick="vote_reviews(' + i + ', ' + item.upvote + ', ' + nil + ', \'' + item.cid + '\')"><i class="icon-white icon-thumbs-up"></i></button></td>\n';

					content +=	'<td id="numdown' + i + '">' + item.downvote + '<button class="btn btn-danger btn-mini" onclick="vote_reviews(' + i + ', ' + nil + ', ' + item.downvote + ', \'' + item.cid + '\')"><i class="icon-white icon-thumbs-down"></i></button></td></tr>';
				});

                content+='</tbody></table>';

				$('#results').empty().append(content);*/

    </div-->

    <div class="hero-unit">
    
    <h2>Reviews:</h2>
    <div id="results">
    </div>
    </div>
    
	<script src="{{ url_for('static', filename="cris/utils.js") }}"></script>
	<script>
		function update(data)
		{
			location.reload();
		}
		
		//processes the Reviews received from getObjects call to getObjects
		//call to get all reviews for a course.
		function processReviews(data)
		{
			var content = '';
			var nil = null;
			
			//content += '<table class="table table-bordered"><thead><tr><th>User</th><th>Score</th><th>Review</th><th>Like/Dislike</th></tr></thead><tbody>'; 
			content += '<table class="table table-bordered"><thead><tr><th>User</th><th>Score</th><th>Review</th><th>Like</th><th>Dislike</th></tr></thead><tbody>';
			
			$.each(data.reviews, function(i, item)
			{
				//content += '<tr><td>N/A</td><td>'+ item.rscr + '</td><td>' + item.rdesc + '</td><td>  <button class="btn btn-success btn-mini" id="upvote' + item.id +'"><i class="icon-white icon-thumbs-up"></i></button>\n' +
							//'<button class="btn btn-danger btn-mini" id="downvote' + item.id +'"><i class="icon-white icon-thumbs-down"></i></button></td></tr>';
					username= 'N/A';
					if (item.username != null)	
					{
						username = item.username;
					}
					content += '<tr><td>' + username + '</td><td>'+ item.rscr + '</td><td>' + item.rdesc + '</td><td id="numup' + i + '">' + item.upvote; 
					
					content +=  '<button class="btn btn-success btn-mini" onclick="vote_reviews(' + i + ', ' + item.upvote + ', ' + nil + ', \'' + item.cid + '\')"><i class="icon-white icon-thumbs-up"></i></button></td>\n';

					content +=	'<td id="numdown' + i + '">' + item.downvote + '<button class="btn btn-danger btn-mini" onclick="vote_reviews(' + i + ', ' + nil + ', ' + item.downvote + ', \'' + item.cid + '\')"><i class="icon-white icon-thumbs-down"></i></button></td></tr>';

			});

			content+='</tbody></table>';

			$('#results').empty().append(content);
		}
	
		//call the getObjects method with the reviews.query url, course id, and a function
		//callback to processReviews
		function getReviews()
		{
			getObjects(	$SCRIPT_ROOT + "{{ url_for('reviews.query_by_course') }}",
						"{{ course.cid }}",
						processReviews );
						
			return false;
		}
		
		//grabs the review fields, creates and object and sends it with sendObjects.
		function sendReview()
		{
			var review = new Object();
			review.cid = "{{ course.cid }}"
		    review.rscr = $('select[id="score"]').val()
		    review.rdesc = $('textarea[id="description"]').val()
		    review.rvote = 0
			review.upvote = 0
			review.downvote = 0
			
			sendObjects( $SCRIPT_ROOT + "{{ url_for('reviews.submit_review') }}",
						 review,
						 update);
						 
			$('#submitReview').modal('hide');
			
			return false;
		}
    
		/*$('#review').submit(function() {
			var formObject = new Object();
			
			formObject.cid = "{{course.cid}}";
			formObject.rscr = $('select[id="score"]').val();
			formObject.rdesc = $('textarea[id="description"]').val();
			formObject.rvote = 0;
			formObject.upvote = 0;
			formObject.downvote = 0;
						
			$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8",
				url: "{{ url_for('reviews.submit_review') }}",
				data: JSON.stringify(formObject),
				success: function (data) {
					location.reload();
											
				},
				dataType:"json"
			});
			
			
			return false;
		});*/
		
		
		function vote_reviews(i, upvote, downvote, cid)
		{
			if(upvote != null){
				upvote++;
			}
			else{
				downvote++;
			}
					
			$.getJSON($SCRIPT_ROOT + "{{ url_for('reviews.calculate_vote')}}",
			{
				uvote: upvote,
				dvote: downvote,
				course: cid,
				key: i
				
			}, function(data) {
        		if(upvote != null){
        			$('#numup'+ i).html(data.result + '<button class="btn btn-success btn-mini"><i class="icon-white icon-thumbs-up"></i></button>')
        		}
        		else{
        			$('#numdown' + i).html(data.result + '<button class="btn btn-danger btn-mini"><i class="icon-white icon-thumbs-down"></i></i></button>')
        		}
        	});
			
			return false;
			
		}
		
		//Get course reviews when page is loaded
		$(window).load(getReviews);
		
		//Send a review when the review submit button is pressed
		$('#review').submit(sendReview);
		
	</script>
{% endblock content %}
