{% extends "layout.html" %}

{% block content %}

    <div class="hero-unit">
        <h2>{{ course.cid }} - {{ course.cname }}</h2>
        <br />
        <p>{{ course.cdesc }}</p>
        <br />
        <p>
            <a class="btn btn-primary btn-large" href="">
                Write a review
            </a>
            <button class="btn btn-success btn-mini"><i class="icon-white icon-thumbs-up"></i></button>
            <button class="btn btn-danger btn-mini"><i class="icon-white icon-thumbs-down"></i></button>
        </p>
    </div>
{% endblock content %}
