{% extends "layout.html" %}

{% block content %}

    <div class="hero-unit">
        <h2>{{ course.cid }} - {{ course.cname }}</h2>
        <h3>Instructor: {{ course.instructor }}</h3>
        <br />
        <p>{{ course.cdesc }}</p>
        <br />

        <a href="#submitReview" role="button" class="btn" data-toggle="modal">Submit a Review</a>

        <div id="submitReview" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 id="modalLabel">Submitting a Review for {{ course.cname }}</h3>
            </div>

            <div class="modal-body">
            <form id="review">
				<fieldset>
					<div>
					    <p>Rating</p>
                        <select id="score">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
					</div>
					<div>
						<label class="control-label" for="description">Description</label>
						<textarea class="input-xlarge" data-jsonify-name="rdesc" id="description" rows="7"></textarea>
					</div>
                    <button type="submit" class="btn">Submit</button>
				</fieldset>
			</form>
            </div>
            <div class="modal-footer">            	
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>

    </div>

    <div class="hero-unit">
    
    <h2>Reviews:</h2>
    <div id="results">
    </div>
    </div>
    
	<script src="{{ url_for('static', filename="cris/utils.js") }}"></script>
	<script>
		function update(data)
		{
			location.reload();
		}
		
		//processes the Reviews received from getObjects call to getObjects
		//call to get all reviews for a course.
		function processReviews(data)
		{
			var content = '';
			var nil = null;
			
			content += '<table class="table table-bordered"><thead><tr><th>User</th><th>Score</th><th>Review</th><th>Like</th><th>Dislike</th><th>Vote Ratio</th><th></th></tr></thead><tbody>';
			
			$.each(data.reviews, function(i, item)
			{
					username= 'N/A';
					if (item.username != null)	
					{
						username = item.username;
					}

					content += '<tr><td><a href="/users/' + username + '">' + username + '</td><td>' +item.rscr + '</td><td>' + item.rdesc + '</td><td id="numup' + i + '"><nobr>' + item.upvote; 
					
					content += '<button class="btn btn-success btn-mini" onclick="vote_reviews(' + i + ', ' + item.upvote + ', ' + nil + ', \'' + item.cid + '\')"><i class="icon-white icon-thumbs-up"></i></button></nobr></td>\n';


					content +=	'<nobr><td id="numdown' + i + '">' + item.downvote + '<button class="btn btn-danger btn-mini" onclick="vote_reviews(' + i + ', ' + nil + ', ' + item.downvote + ', \'' + item.cid + '\')"><i class="icon-white icon-thumbs-down"></i></button></nobr></td>';
					
					content +=   '<td id="rvote' + i + '">' + item.rvote + '</td>';
					
        				if (item.followed == true) {
        					content += '<td><button class="btn btn-follow btn-mini" onclick="unfollow_user(\'' + username + '\')"><nobr><i class ="icon-white icon-remove"></i>Unfollow</nobr></button></td></tr>'
					}
        				else {
        					content += '<td><button class="btn btn-follow btn-mini" onclick="follow_user(\'' + username + '\')"><nobr><i class="icon-white icon-heart"></i>Follow</nobr></button></td></tr>'
        				}
			});

			content+='</tbody></table>';

			$('#results').empty().append(content);
		}
		
		function processVotes(data) {
        		
			$('#numup'+ data.i).html(data.up + '<button class="btn btn-success btn-mini"><i class="icon-white icon-thumbs-up"></i></button>');
			$('#numdown' + data.i).html(data.down + '<button class="btn btn-danger btn-mini"><i class="icon-white icon-thumbs-down"></i></i></button>');
			$('#rvote' + data.i).html(data.score );
        }
        
		//call the getObjects method with the reviews.query url, course id, and a function
		//callback to processReviews
		function getReviews()
		{
			getObjects(	$SCRIPT_ROOT + "{{ url_for('reviews.query_by_course') }}",
						"{{ course.cid }}",
						processReviews);
						
			return false;
		}

	
		//grabs the review fields, creates and object and sends it with sendObjects.
		function sendReview()
		{
			var review = new Object();
			review.cid = "{{ course.cid }}"
		    	review.rscr = $('select[id="score"]').val()
		    	review.rdesc = $('textarea[id="description"]').val()
		    	review.rvote = 0
			review.upvote = 0
			review.downvote = 0
			
			sendObjects( $SCRIPT_ROOT + "{{ url_for('reviews.submit_review') }}",
						 review,
						 update);
						 
			$('#submitReview').modal('hide');
			
			return false;

		}    
		
		function follow_user(username)
		{	
			getObjects( $SCRIPT_ROOT + "{{ url_for('users.follow_user') }}",
						 username,
						 update);			
			return false;
		}
		
		function unfollow_user(username)
		{
			getObjects( $SCRIPT_ROOT + "{{ url_for('users.unfollow_user') }}",
						 username,
						 update);			
			return false;
		}

		function vote_reviews(i, upvote, downvote, cid)
		{
			var vote = new Object();
			vote.index = i
			vote.upvote = upvote
			vote.downvote = downvote
			vote.cid = cid
			
			sendObjects( $SCRIPT_ROOT + "{{ url_for('reviews.calculate_vote') }}",
						 vote,
						 processVotes);
			
			return false;
			/*if(upvote != null){
				upvote++;
			}
			else{
				downvote++;
			}
					
			$.getJSON($SCRIPT_ROOT + "{{ url_for('reviews.calculate_vote')}}",
			{
				uvote: upvote,
				dvote: downvote,
				course: cid,
				key: i
				
			}, function(data) {
        		
				$('#numup'+ i).html(data.up + '<button class="btn btn-success btn-mini"><i class="icon-white icon-thumbs-up"></i></button>');
				$('#numdown' + i).html(data.down + '<button class="btn btn-danger btn-mini"><i class="icon-white icon-thumbs-down"></i></i></button>');
        		$('#rvote' + i).html(data.score );
        	});
			
			return false;*/
			
		}
		
		//Get course reviews when page is loaded
		$(window).load(getReviews);
		
		//Send a review when the review submit button is pressed
		$('#review').submit(sendReview);
		
	</script>
{% endblock content %}
