<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>CRIS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
	<link href="{{ url_for('static', filename="bootstrap/css/bootstrap-responsive.min.css") }}" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;
		}
	</style>

</head>

<body>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
                
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

				<a class="brand" href="{{ url_for('index') }}">CRIS</a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
						{% if session.username %}
							Logged in as <a href="/users/{{ session.username }}" class="navbar-link">{{ session.username }}</a> |
							<a href="{{ url_for('logout') }}" class="navbar-link">Log out</a>
						{% else %}
							<a href="{{ url_for('login') }}" class="navbar-link">Log in</a> |
							<a href="{{ url_for('users.register') }}" class="navbar-link">Register</a>
						{% endif %}
					</p>
                    <ul class="nav">
                        <li class="dropdown">
                            <a id="A1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('courses.index') }}">View All</a></li>
                                <li class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('show_semester', sem='Fall') }}">Fall 2012</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('show_semester', sem='Winter') }}">Winter 2012</a></li>
                            </ul>
                        </li>
					    <li><a href="{{ url_for('instructors') }}">Instructors</a></li>
					    <li><a href="{{ url_for('top_rated') }}">Top Rated Courses</a></li>
					    <li><a href="{{ url_for('posts') }}">Posts</a></li>
                    </ul>
                </div><!--nav-collapse collapse-->
			</div><!--container -->
		</div><!-- navbar-inner -->
	</div><!-- navbar -->

	<div class="container">
		<div class="row">
			<div class="span10">
				{% for message in get_flashed_messages() %}
					<div class= "alert alert-info"> {{ message }} </div>
				{% endfor %}
				{% block content %}
				{% endblock content %}
			</div><!-- content -->
		</div> <!-- sidebar and content as a row -->
	</div> <!-- container -->
</body>
</html>
