{% extends "layout.html" %}

{% block content %}
	<h5>Search Courses</h5>
	<form id="target" class="well form-search">  
        <input type="text" class="input-large search-query" id="search_key">
        <button type="submit" class="btn">Search</button>
    </form>
    <div id="results">
		<h3>Results</h3>
    <div>
    
    <script>
		(function($) {
			$(function() {
				$("#target").submit(function() {
					alert('Sending query');
					$.getJSON($SCRIPT_ROOT + '/_query',
					{
						key: $('input[id="search_key"]').val()
					},
					//alert('processing data...');
					function(data)
					{
						alert('processing results...');
						document.getElementById("results").innerHTML = content;
						
						//$.each(data, function(i, item)
						//{
						//	content = content + "<h5>" + item.cid + "</h5>\n" +
						//				"<p>" + item.cname + "</p>\n";
						//}
					});
				});
			});
		})(jQuery);
	</script>
{% endblock content %}
