{% extends "layout.html" %}

{% block content %}
	<script type=text/javascript>
		var submit_form = function(e)
		{
			$.getJSON($SCRIPT_ROOT + '/_query',
			{
				key: $('input[id="search_key"]').val()
			}, 
		
			function(data)
			{
				<div class="hero-unit">
					<h3>Results</h3>
					$.each(data, funtion(i, item)
					{
							<h5>item.cid</h5>
							<p>item.cname</p>
							<p>
								<a class="btn btn-primary btn-small">reviews</a></a>
							</p>
					}
				</div
			});
			return false;
		};
		
		$('#search').click(submit_form);
	</script>
	<h5>Search Courses</h5>
	<form class="well form-search">  
        <input type="text" id="search_key" class="input-medium search-query">
        <button type="submit" id="search" class="btn">Search</button>
    </form>
    
    
{% endblock content %}
