{% extends "layout.html" %}

{% block content %}
	<h5>Search Courses</h5>
	<form id="target" class="well form-search">  
        <input type="text" class="input-large search-query" id="search_key">
        <button type="submit" class="btn">Search</button>
    </form>
    <div id="results"></div>
    
    <script>
		//(function($) {
		//	$(function() {
				$('#target').submit(function() {
					//alert('Sending query');
					$.getJSON($SCRIPT_ROOT + '/_query',
					{
						key: $('input[id="search_key"]').val()
					},
					function(data)
					{
						var content = '';
						$.each(data.courses, function(i, item)
						{
							content = content + "<h5>" + item.cid + "</h5>\n" +
										"<p>" + item.cname + "</p>\n";
						});
						$('#results').append(content);
					});
					
					return false;
				});
		//	});
		//})(jQuery);
	</script>
{% endblock content %}
