{% extends "layout.html" %} {% block content %}
<div id="showFollowers" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            x</button>
        <h3 id="modalLabel">
            {{user.username}}'s followers:
        </h3>    
    </div>
    <div class="modal-body">
	<div id="followers"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="row">
            <div class="span1" style="padding-top: 15px;">
                <button class="btn btn-success btn-mini">
                    <i class="icon-white icon-heart"></i>Follow
                </button>
            </div>
            <div class="span3">
                <h1>
                    <div id="username" style="text-align: left;">
                        {{user.username}}
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <div class="span4">
        <h1>
            <div style="text-align: center;">
		<a href="#showFollowers" onclick="getFollowers()" class="btn" data-toggle="modal">View Followers</a>
                <!--<button id="#showFollowers" type="button" onclick="getFollowers()" class="btn" data-toggle="modal">Followers</button>-->
	    </div>
        </h1>
    </div>
</div>
<div class="well">
    <h2>
        Activity:
    </h2>
    <div id="results">
    </div>
</div>
<script src="{{ url_for('static', filename="cris/utils.js") }}"></script>
<script>

    //processes the Reviews received from getObjects call to getObjects
    //call to get all reviews from specific author
    function processReviews(data) {
        var content = '';
        var nil = null;

        $.each(data.reviews, function (i, item) {
            content += '<p>"' + item.rdesc + '" -- in <a href="/courses/' + item.cid + '">' + item.cid + '</a></p>'
        });

        $('#results').empty().append(content);
    }

	function processFollowers(data) {
		var content = '';
		var nil = null;
		
		content += '<table class="table table-bordered"><thead></thead><tbody>';
		$.each(data.followed, function(i, item) {
			content += '<tr><td><a href="/users/' + item.username + '">' + item.username + '</td></tr>';
		});
		content += '</tbody></table>';

		$('#followers').empty().append(content);
	}

    //call the getObjects method with the reviews.query url, course id, and a function
    //callback to processReviews
    function getReviews() {
        getObjects($SCRIPT_ROOT + "{{ url_for('reviews.query_by_user') }}",
						"{{ user.username }}",
						processReviews);

        return false;
    }

	function getFollowers() {
		$.getJSON($SCRIPT_ROOT + "{{ url_for('users.query_followers')}}",
		{
			user: "{{user.username}}"
		}, function(data) {
			processFollowers(data)
		});

		return false;
	}

    //Get course reviews when page is loaded
    $(window).load(getReviews);
	
	//get the followers when the followers button is pressed
	//$('#showFollowers').submit(getFollowers);

</script>
{% endblock %} 
